<div class="container">
  <div class="col-md-offset-9">
    <input type="text" class="form-control">
  </div>
  <div class="row">
    <h1 class="text-center">Amiibos</h1>
  </div>
  \<div class="row">
    <div class="col-md-3" *ngFor="let Amiibos of Amiibos">
      <div class="amiibo-body">
        <h3 class="text-center">{{amibbo.name}}</h3>
        <br>
        <p class="text-center"> From: {{amiibo.gameSeries}}</p>
        <div class="text-center">
          <button class="btn btn-info" [routerLink]="['/amiibo/', amiibo.tail]" >View</button>
        </div>
      </div>
    </div>
  </div>
</div>